In [11]:
import pandas as pd
import numpy as np
#Github documentation https://thecokerdavid.medium.com/how-to-set-up-github-with-visual-studio-code-817fb30f44e2

In [4]:
pwd

'c:\\Users\\jeffs\\.git\\Fire\\MontrealFire'

In [3]:
df=pd.read_csv('incident_by_grid_name_by_date.csv')

In [10]:
df

                       Key  Sum_Count DateTime_Out  year  month
0       Caserne 03 Grid0_0          1   2015-01-01  2015      1
1       Caserne 03 Grid0_0          1   2015-01-04  2015      1
2       Caserne 03 Grid0_0          1   2015-01-05  2015      1
3       Caserne 03 Grid0_0          2   2015-01-07  2015      1
4       Caserne 03 Grid0_0          3   2015-01-10  2015      1
...                    ...        ...          ...   ...    ...
488003  caserne 47 Grid2_2          1   2022-04-15  2022      4
488004  caserne 47 Grid2_2          1   2022-04-19  2022      4
488005  caserne 47 Grid2_2          1   2022-04-28  2022      4
488006  caserne 47 Grid2_2          1   2022-05-21  2022      5
488007  caserne 47 Grid2_2          1   2022-06-04  2022      6

[488008 rows x 5 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488008 entries, 0 to 488007
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Key           488008 non-null  object
 1   Sum_Count     488008 non-null  int64
 2   DateTime_Out  488008 non-null  datetime64[ns]
 3   year          488008 non-null  int64
 4   month         488008 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 18.6+ MB

Date Formating- Converting Object to Date Time and Adding Month and Year

In [6]:
df['DateTime_Out'] = pd.to_datetime(df['DateTime_Out'])
#Working with Dates https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587

In [8]:
df['year']= df['DateTime_Out'].dt.year
df['month']= df['DateTime_Out'].dt.month

In [25]:
subtotals_by_sport = df.groupby(['Key','year','month'])['Sum_Count'].sum().reset_index().assign(Monthly_Sum='Monthly_Sum')

In [26]:
subtotals_by_sport

                      Key  year  month  Sum_Count  Monthly_Sum
0      Caserne 03 Grid0_0  2015      1         13  Monthly_Sum
1      Caserne 03 Grid0_0  2015      2          8  Monthly_Sum
2      Caserne 03 Grid0_0  2015      3         11  Monthly_Sum
3      Caserne 03 Grid0_0  2015      4         21  Monthly_Sum
4      Caserne 03 Grid0_0  2015      5         10  Monthly_Sum
...                   ...   ...    ...        ...          ...
61595  caserne 47 Grid2_2  2022      1          1  Monthly_Sum
61596  caserne 47 Grid2_2  2022      2          2  Monthly_Sum
61597  caserne 47 Grid2_2  2022      4          5  Monthly_Sum
61598  caserne 47 Grid2_2  2022      5          1  Monthly_Sum
61599  caserne 47 Grid2_2  2022      6          1  Monthly_Sum

[61600 rows x 5 columns]