In [11]:
import pandas as pd
import numpy as np
#Github documentation https://thecokerdavid.medium.com/how-to-set-up-github-with-visual-studio-code-817fb30f44e2

In [4]:
pwd

'c:\\Users\\jeffs\\.git\\Fire\\MontrealFire'

In [3]:
df=pd.read_csv('incident_by_grid_name_by_date.csv')

In [10]:
df

                       Key  Sum_Count DateTime_Out  year  month
0       Caserne 03 Grid0_0          1   2015-01-01  2015      1
1       Caserne 03 Grid0_0          1   2015-01-04  2015      1
2       Caserne 03 Grid0_0          1   2015-01-05  2015      1
3       Caserne 03 Grid0_0          2   2015-01-07  2015      1
4       Caserne 03 Grid0_0          3   2015-01-10  2015      1
...                    ...        ...          ...   ...    ...
488003  caserne 47 Grid2_2          1   2022-04-15  2022      4
488004  caserne 47 Grid2_2          1   2022-04-19  2022      4
488005  caserne 47 Grid2_2          1   2022-04-28  2022      4
488006  caserne 47 Grid2_2          1   2022-05-21  2022      5
488007  caserne 47 Grid2_2          1   2022-06-04  2022      6

[488008 rows x 5 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488008 entries, 0 to 488007
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Key           488008 non-null  object
 1   Sum_Count     488008 non-null  int64
 2   DateTime_Out  488008 non-null  datetime64[ns]
 3   year          488008 non-null  int64
 4   month         488008 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 18.6+ MB

Date Formating- Converting Object to Date Time and Adding Month and Year

In [6]:
df['DateTime_Out'] = pd.to_datetime(df['DateTime_Out'])
#Working with Dates https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587

In [45]:
df['year']= df['DateTime_Out'].dt.year
df['month']= df['DateTime_Out'].dt.month
df['quarter']=df['DateTime_Out'].dt.quarter

In [46]:
ts= df.groupby(['Key','year','quarter'])['Sum_Count'].sum().reset_index().assign(Monthly_Sum='Quarterly_Sum')

In [47]:
ts

                      Key  year  quarter  Sum_Count    Monthly_Sum
0      Caserne 03 Grid0_0  2015        1         32  Quarterly_Sum
1      Caserne 03 Grid0_0  2015        2         51  Quarterly_Sum
2      Caserne 03 Grid0_0  2015        3         58  Quarterly_Sum
3      Caserne 03 Grid0_0  2015        4         35  Quarterly_Sum
4      Caserne 03 Grid0_0  2016        1         48  Quarterly_Sum
...                   ...   ...      ...        ...            ...
23515  caserne 47 Grid2_2  2021        2          5  Quarterly_Sum
23516  caserne 47 Grid2_2  2021        3          2  Quarterly_Sum
23517  caserne 47 Grid2_2  2021        4          7  Quarterly_Sum
23518  caserne 47 Grid2_2  2022        1          3  Quarterly_Sum
23519  caserne 47 Grid2_2  2022        2          7  Quarterly_Sum

[23520 rows x 5 columns]

In [30]:
ts.to_csv('ts.csv')

In [31]:
features=pd.read_csv('2.Full_Join_by_1km_Artificial_Grid.csv')

In [32]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NOM_CAS_AD           1012 non-null   object
 1   NO_CAS_ADM           1012 non-null   int64
 2   OBJECTID             1012 non-null   int64
 3   AreaSqKm             1012 non-null   float64
 4   CentroidX            1012 non-null   float64
 5   CentroidY            1012 non-null   float64
 6   GridName             1012 non-null   object
 7   Key                  1012 non-null   object
 8   Input_#2_Key         704 non-null    object
 9   Count                704 non-null    float64
 10  Fire Count per Year  704 non-null    float64
 11  Fire Count 6 years   704 non-null    float64
 12  Avg_Pop__Densi       992 non-null    float64
 13  Avg_Income___T       980 non-null    float64
 14  Avg_Income___2       979 non-null    float64
 15  Avg_Income___3       979 non-null    float64
 16  Avg_Housing___       980 non-null    float64
 17  Avg_Education_       980 non-null    float64
dtypes: float64(12), int64(2), object(4)
memory usage: 142.4+ KB

In [85]:
data=ts.merge(features, on='Key', how='left')

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23520 entries, 0 to 23519
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Key                  23520 non-null  object
 1   year                 23520 non-null  int64
 2   quarter              23520 non-null  int64
 3   Sum_Count            23520 non-null  int64
 4   Monthly_Sum          23520 non-null  object
 5   NOM_CAS_AD           23520 non-null  object
 6   NO_CAS_ADM           23520 non-null  int64
 7   OBJECTID             23520 non-null  int64
 8   AreaSqKm             23520 non-null  float64
 9   CentroidX            23520 non-null  float64
 10  CentroidY            23520 non-null  float64
 11  GridName             23520 non-null  object
 12  Input_#2_Key         20250 non-null  object
 13  Count                20250 non-null  float64
 14  Fire Count per Year  20250 non-null  float64
 15  Fire Count 6 years   20250 non-null  float64
 16  Avg_Pop__Densi       23500 non-null  float64
 17  Avg_Income___T       23384 non-null  float64
 18  Avg_Income___2       23384 non-null  float64
 19  Avg_Income___3       23384 non-null  float64
 20  Avg_Housing___       23384 non-null  float64
 21  Avg_Education_       23384 non-null  float64
dtypes: float64(12), int64(5), object(5)
memory usage: 4.1+ MB

In [36]:
data

,Key,year,month,Sum_Count,Monthly_Sum,NOM_CAS_AD,NO_CAS_ADM,OBJECTID,AreaSqKm,CentroidX,...,Input_#2_Key,Count,Fire Count per Year,Fire Count 6 years,Avg_Pop__Densi,Avg_Income___T,Avg_Income___2,Avg_Income___3,Avg_Housing___,Avg_Education_
0,Caserne 03 Grid0_0,2015,1,13,Monthly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,Caserne 03 Grid0_0,10.0,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286
1,Caserne 03 Grid0_0,2015,2,8,Monthly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,Caserne 03 Grid0_0,10.0,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286
2,Caserne 03 Grid0_0,2015,3,11,Monthly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,Caserne 03 Grid0_0,10.0,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286
3,Caserne 03 Grid0_0,2015,4,21,Monthly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,Caserne 03 Grid0_0,10.0,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286
4,Caserne 03 Grid0_0,2015,5,10,Monthly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,Caserne 03 Grid0_0,10.0,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61595,caserne 47 Grid2_2,2022,1,1,Monthly_Sum,caserne 47,47,317,3.712562,-73.594510,...,caserne 47 Grid2_2,7.0,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857
61596,caserne 47 Grid2_2,2022,2,2,Monthly_Sum,caserne 47,47,317,3.712562,-73.594510,...,caserne 47 Grid2_2,7.0,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857
61597,caserne 47 Grid2_2,2022,4,5,Monthly_Sum,caserne 47,47,317,3.712562,-73.594510,...,caserne 47 Grid2_2,7.0,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857
61598,caserne 47 Grid2_2,2022,5,1,Monthly_Sum,caserne 47,47,317,3.712562,-73.594510,...,caserne 47 Grid2_2,7.0,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857
61599,caserne 47 Grid2_2,2022,6,1,Monthly_Sum,caserne 47,47,317,3.712562,-73.594510,...,caserne 47 Grid2_2,7.0,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857

In [37]:
data.to_csv('data.csv')

In [78]:
ts4= data.groupby(['Key'])['NOM_CAS_AD'].count().reset_index().assign(Monthly_Sum='Quarterly_Crime_Sum')

In [79]:
ts4

                    Key  NOM_CAS_AD          Monthly_Sum
0    Caserne 03 Grid0_0          30  Quarterly_Crime_Sum
1    Caserne 03 Grid0_1          30  Quarterly_Crime_Sum
2    Caserne 03 Grid1_0          30  Quarterly_Crime_Sum
3    Caserne 03 Grid1_1          21  Quarterly_Crime_Sum
4    Caserne 04 Grid0_1          25  Quarterly_Crime_Sum
..                  ...         ...                  ...
881  caserne 47 Grid1_2          30  Quarterly_Crime_Sum
882  caserne 47 Grid1_3          24  Quarterly_Crime_Sum
883  caserne 47 Grid2_0          30  Quarterly_Crime_Sum
884  caserne 47 Grid2_1          24  Quarterly_Crime_Sum
885  caserne 47 Grid2_2          30  Quarterly_Crime_Sum

[886 rows x 3 columns]

In [40]:
df_incident_by_year = pd.read_csv("https://raw.githubusercontent.com/jeremidaneau/Montreal-hot-spot-prediction/main/data/crime_data_by_month.csv",encoding="latin-1")

In [41]:
df_incident_by_year

                      Key                 CATEGORIE  Count DateTime_Out
0      Caserne 03 Grid0_0              Introduction      1   2015-01-01
1      Caserne 03 Grid0_0              Introduction      1   2015-04-01
2      Caserne 03 Grid0_0              Introduction      1   2015-06-01
3      Caserne 03 Grid0_0              Introduction      2   2015-07-01
4      Caserne 03 Grid0_0              Introduction      2   2015-08-01
...                   ...                       ...    ...          ...
95273  caserne 47 Grid2_2  Vol de véhicule à moteur      1   2020-04-01
95274  caserne 47 Grid2_2  Vol de véhicule à moteur      1   2020-07-01
95275  caserne 47 Grid2_2  Vol de véhicule à moteur      1   2020-10-01
95276  caserne 47 Grid2_2            Vols qualifiés      1   2016-08-01
95277  caserne 47 Grid2_2            Vols qualifiés      1   2019-05-01

[95278 rows x 4 columns]

In [57]:
df_incident_by_year['DateTime_Out'] = pd.to_datetime(df_incident_by_year['DateTime_Out'])
df_incident_by_year['year']= df_incident_by_year['DateTime_Out'].dt.year
df_incident_by_year['month']= df_incident_by_year['DateTime_Out'].dt.month
df_incident_by_year['quarter']=df_incident_by_year['DateTime_Out'].dt.quarter
df_incident_by_year['Crime_Count']=df_incident_by_year['Count']

In [58]:
ts2= df_incident_by_year.groupby(['Key','year','quarter'])['Crime_Count'].sum().reset_index().assign(Monthly_Sum='Quarterly_Crime_Sum')

In [59]:
ts2

                      Key  year  quarter  Crime_Count          Monthly_Sum
0      Caserne 03 Grid0_0  2015        1            6  Quarterly_Crime_Sum
1      Caserne 03 Grid0_0  2015        2            7  Quarterly_Crime_Sum
2      Caserne 03 Grid0_0  2015        3            5  Quarterly_Crime_Sum
3      Caserne 03 Grid0_0  2015        4            6  Quarterly_Crime_Sum
4      Caserne 03 Grid0_0  2016        1           10  Quarterly_Crime_Sum
...                   ...   ...      ...          ...                  ...
18911  caserne 47 Grid2_2  2021        1            2  Quarterly_Crime_Sum
18912  caserne 47 Grid2_2  2021        2            1  Quarterly_Crime_Sum
18913  caserne 47 Grid2_2  2021        3            3  Quarterly_Crime_Sum
18914  caserne 47 Grid2_2  2021        4            3  Quarterly_Crime_Sum
18915  caserne 47 Grid2_2  2022        2            3  Quarterly_Crime_Sum

[18916 rows x 5 columns]

In [63]:
housing=pd.read_csv('incidences_with_housing_data.csv')

In [64]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Grid                       710 non-null    object
 1   Caserne                    710 non-null    object
 2   Count                      710 non-null    int64
 3   Avg_ETAGE_HORS             710 non-null    float64
 4   Avg_ANNEE_CONS             710 non-null    float64
 5   Mode_CATEGORIE_LIBELLE_UT  710 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 33.4+ KB

In [69]:
housing['Key']=housing['Grid']
housing.drop(['Count','Grid'], axis=1)

,Caserne,Avg_ETAGE_HORS,Avg_ANNEE_CONS,Mode_CATEGORIE_LIBELLE_UT,Key
0,caserne 47,1.666667,1969.333333,Logement-R�gulier,caserne 47 Grid2_0
1,Caserne 50,2.000000,1957.000000,Logement-R�gulier,Caserne 50 Grid1_1
2,Caserne 37,2.123288,1934.986301,Logement-R�gulier,Caserne 37 Grid3_3
3,caserne 47,2.108108,1934.729730,Logement-R�gulier,caserne 47 Grid0_3
4,Caserne 09,1.750000,1957.285714,Logement-R�gulier,Caserne 09 Grid4_4
...,...,...,...,...,...
705,Caserne 46,1.812500,1950.812500,Logement-R�gulier,Caserne 46 Grid3_0
706,Caserne 09,1.833333,1950.833333,Logement-R�gulier,Caserne 09 Grid7_7
707,Caserne 29,1.464286,1987.928571,Logement-Condominium,Caserne 29 Grid0_3
708,Caserne 46,1.696970,1953.484848,Logement-R�gulier,Caserne 46 Grid1_3
709,Caserne 09,1.977273,1957.431818,Logement-R�gulier,Caserne 09 Grid2_2

In [76]:
ts3= housing.groupby(['Key'])['Caserne'].count().reset_index().assign(Monthly_Sum='Quarterly_Crime_Sum')

In [77]:
ts3

                    Key  Caserne          Monthly_Sum
0    Caserne 03 Grid0_1        1  Quarterly_Crime_Sum
1    Caserne 03 Grid0_2        1  Quarterly_Crime_Sum
2    Caserne 03 Grid1_1        1  Quarterly_Crime_Sum
3    Caserne 03 Grid1_2        1  Quarterly_Crime_Sum
4    Caserne 03 Grid2_0        1  Quarterly_Crime_Sum
..                  ...      ...                  ...
705  caserne 47 Grid3_3        1  Quarterly_Crime_Sum
706  caserne 47 Grid3_4        1  Quarterly_Crime_Sum
707  caserne 47 Grid3_5        1  Quarterly_Crime_Sum
708  caserne 47 Grid4_1        1  Quarterly_Crime_Sum
709  caserne 47 Grid4_4        1  Quarterly_Crime_Sum

[710 rows x 3 columns]

In [80]:
join=ts4.merge(ts3, on='Key', how='left')

In [82]:
join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 886 entries, 0 to 885
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Key            886 non-null    object
 1   NOM_CAS_AD     886 non-null    int64
 2   Monthly_Sum_x  886 non-null    object
 3   Caserne        167 non-null    float64
 4   Monthly_Sum_y  167 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 41.5+ KB

In [87]:
# Datasets: 1. data 2. ts2 3.housing
join=data.merge(ts2, on=['Key','year','quarter'], how='left')

In [96]:
join2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23520 entries, 0 to 23519
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Key             23520 non-null  object
 1   year            23520 non-null  int64
 2   quarter         23520 non-null  int64
 3   Sum_Count       23520 non-null  int64
 4   Monthly_Sum_x   23520 non-null  object
 5   NOM_CAS_AD      23520 non-null  object
 6   NO_CAS_ADM      23520 non-null  int64
 7   OBJECTID        23520 non-null  int64
 8   AreaSqKm        23520 non-null  float64
 9   CentroidX       23520 non-null  float64
 10  CentroidY       23520 non-null  float64
 11  GridName        23520 non-null  object
 12  Avg_Pop__Densi  23520 non-null  float64
 13  Avg_Income___T  23520 non-null  float64
 14  Avg_Income___2  23384 non-null  float64
 15  Avg_Income___3  23384 non-null  float64
 16  Avg_Housing___  23384 non-null  float64
 17  Avg_Education_  23520 non-null  float64
 18  Crime_Count     23520 non-null  float64
dtypes: float64(10), int64(5), object(4)
memory usage: 3.6+ MB

In [91]:
join['Fire Count per Year'] = join['Fire Count per Year'].fillna(0)

In [93]:
join['Avg_Education_'].fillna(value=join['Avg_Education_'].mean(), inplace=True)
join['Avg_Income___T'].fillna(value=join['Avg_Income___T'].mean(), inplace=True)
join['Avg_Pop__Densi'].fillna(value=join['Avg_Pop__Densi'].mean(), inplace=True)
join['Crime_Count'] = join['Crime_Count'].fillna(0)

In [95]:
join2=join.drop(['Monthly_Sum_y','Count','Fire Count per Year','Fire Count 6 years','Input_#2_Key'], axis=1)

In [90]:
join

,Key,year,quarter,Sum_Count,Monthly_Sum_x,NOM_CAS_AD,NO_CAS_ADM,OBJECTID,AreaSqKm,CentroidX,...,Fire Count per Year,Fire Count 6 years,Avg_Pop__Densi,Avg_Income___T,Avg_Income___2,Avg_Income___3,Avg_Housing___,Avg_Education_,Crime_Count,Monthly_Sum_y
0,Caserne 03 Grid0_0,2015,1,32,Quarterly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286,6.0,Quarterly_Crime_Sum
1,Caserne 03 Grid0_0,2015,2,51,Quarterly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286,7.0,Quarterly_Crime_Sum
2,Caserne 03 Grid0_0,2015,3,58,Quarterly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286,5.0,Quarterly_Crime_Sum
3,Caserne 03 Grid0_0,2015,4,35,Quarterly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286,6.0,Quarterly_Crime_Sum
4,Caserne 03 Grid0_0,2016,1,48,Quarterly_Sum,Caserne 03,3,312,1.325306,-73.564826,...,2.0,10.0,11430.107143,898.214286,100.0,71.55,561.785714,890.714286,10.0,Quarterly_Crime_Sum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23515,caserne 47 Grid2_2,2021,2,5,Quarterly_Sum,caserne 47,47,317,3.712562,-73.594510,...,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857,1.0,Quarterly_Crime_Sum
23516,caserne 47 Grid2_2,2021,3,2,Quarterly_Sum,caserne 47,47,317,3.712562,-73.594510,...,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857,3.0,Quarterly_Crime_Sum
23517,caserne 47 Grid2_2,2021,4,7,Quarterly_Sum,caserne 47,47,317,3.712562,-73.594510,...,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857,3.0,Quarterly_Crime_Sum
23518,caserne 47 Grid2_2,2022,1,3,Quarterly_Sum,caserne 47,47,317,3.712562,-73.594510,...,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857,NaN,NaN
23519,caserne 47 Grid2_2,2022,2,7,Quarterly_Sum,caserne 47,47,317,3.712562,-73.594510,...,1.0,7.0,9969.785714,520.714286,100.0,82.70,343.571429,527.142857,3.0,Quarterly_Crime_Sum